body {
  text-align: center;
  background: #0a0a0a;
  color: white;
  font-family: "helvetica neue", sans-serif;
  font-weight: 100;
  font-size: 50px;
}

h2 {
  margin-bottom: 0px;
}

.controls {
  margin-bottom: 10px;
}

input {
  width: 100px;
}

img {
  width: 300px;
  height: auto;
  background-size: contain;
  border-radius: 5px;
  padding: var(--spacing);
  filter: blur(var(--blur));
  background-color: var(--color);
}

.hl {
  color: var(--color);
}

.today {
  color: var(--color);
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  margin: 0px auto 30px auto;
}

/* CSS Variables */
:root {
  --color: #fc6100;
  --spacing: 0px;
  --blur: 0px;
}
